In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [3]:
data=pd.read_csv("D:/DATA SCIENCE/ASSIGNMENT/QUESTION/HYPOTHESIS TESTING/BuyerRatio.csv",encoding='latin')

In [4]:
data.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [5]:
obs_val=np.array([
    [50,143,130,73],
    [435,1523,1356,750]
])

In [7]:
chi2_stat, p_value, df, expected_value=stats.chi2_contingency(obs_val)

print("Chi-squared statistic:", chi2_stat)
print("p-value:", p_value)
print("Degree of freedom:", df)
print("Expected_values:", expected_value)

Chi-squared statistic: 1.4376591550840403
p-value: 0.6967314411601825
Degree of freedom: 3
Expected_values: [[  43.06278027  147.92286996  131.94080717   73.0735426 ]
 [ 441.93721973 1518.07713004 1354.05919283  749.9264574 ]]